In [1]:
import pandas as pd
import numpy as np

# 加载数据
traj_df = pd.read_csv('./data/traj.csv')
traj_df['longitude'] = traj_df['coordinates'].apply(lambda x:eval(x)[0])
traj_df['latitude'] = traj_df['coordinates'].apply(lambda x:eval(x)[1])
traj_df['latitude'] = pd.to_numeric(traj_df['latitude'])
traj_df['longitude'] = pd.to_numeric(traj_df['longitude'])

traj_df.head()

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays,longitude,latitude
0,0,2013-10-08T17:45:00Z,254,0,"[116.318726,40.009014]",0.000000,36.6900,0,116.318726,40.009014
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0,116.315102,40.004784
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0,116.315018,40.002842
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0,116.315041,39.998585
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0,116.315605,39.992554

In [5]:
traj_df['coordinates'] = traj_df['coordinates'].apply(lambda x:eval(x))

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium

In [7]:
map_v = folium.Map(location=[0, 0], zoom_start=2)
for point in traj_df['coordinates']:
    folium.Marker(location=point).add_to(map_v)

In [9]:
map_v.save("trajectory_map.html")

In [10]:
map_v_sample = folium.Map(location=[0, 0], zoom_start=2)
for point in traj_df['coordinates'].sample(1000):
    folium.Marker(location=point).add_to(map_v_sample)
map_v_sample.save("trajectory_map_sample.html")